@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="container" style="width:100%;">
        <img class="img-responsive" src="/images/garage.jpg" />
        <h2 style="text-align:center;">Welcome to L&C Garage 2.0</h2>
    </div>
</div>